.app-header {
    padding-top  : 15px;
    align-items  : center;
    align-content: center;
    z-index      : 10;
    transition   : all 0.2s;
    /* position  : absolute; */
    position     : fixed;
    width        : 100%;

    .header {
        .ant-row {
            height: 50px;
        }
    }

    .logo-text {
        font-size  : 32px;
        color      : black;
        font-weight: bold;

    }

    .logo-detail {
        font-size  : 24px;
        color      : black;
        font-weight: bold;
    }

    .app-search {
        width        : 70%;
        height       : 40px;
        border-radius: 4px;
    }

    .login {
        height       : 3em;
        border-radius: 8px;
    }

    .anticon svg {
        width  : 2em !important;
        height : 2em;
        display: inline-block;
    }

    .number-item-in-cart {
        display         : inline-block;
        cursor          : pointer;
        position        : relative;
        border-radius   : 2.75rem;
        min-width       : .6875rem;
        line-height     : 1.2em;
        padding         : 0 .3125rem;
        text-align      : center;
        height          : 1rem;
        border          : .125rem solid #ee4d2d;
        color           : #ee4d2d;
        background-color: #fff;
        left            : -0.44rem;
        top             : -1rem;
        margin-right    : -.875rem;
    }
}

.menu {
    margin-top      : 10px;
    height          : 50px;
    background-color: black;
    position        : relative;

    .cart {
        display: none;
    }

    ul {
        background-color: black;
        color           : white;
        position        : absolute;
        right           : 3em;

        li {
            font-size: 18px;
        }

    }

}

.google-btn {

    &,
    &:focus,
    &:active {
        height       : 48px;
        background   : #ffffff;
        border       : 2px solid #2d9cdb !important;
        box-sizing   : border-box;
        border-radius: 8px !important;
        overflow     : hidden;
        margin-bottom: 20px;
        outline      : none;
        box-shadow   : none !important;
    }

    span {
        width      : 100%;
        font-weight: 600 !important;
        font-size  : 14px;
        line-height: 16px;
        text-align : center;
        color      : #4f4f4f;
        position   : absolute;
    }

    svg {
        zoom       : 1.5;
        margin-left: 3px;
    }
}

.modal-login {
    .ant-modal-footer {
        display: none;
    }

    .ant-modal-close-icon {
        color: white;
    }

    .login-form {
        button {
            width: 100%;
        }
    }

    .face-btn {

        &,
        &:focus,
        &:active {
            font-family  : Roboto, sans-serif;
            font-weight  : 600;
            font-size    : 14px;
            line-height  : 16px;
            color        : #4F4F4F;
            text-align   : center;
            position     : relative;
            height       : 48px;
            background   : #ffffff;
            border       : 2px solid #2d9cdb !important;
            box-sizing   : border-box;
            border-radius: 8px !important;
            outline      : none;
        }

        img {
            width   : 24px;
            height  : 24px;
            position: absolute;
            left    : 16px;
            top     : 10px;
        }
    }

    .ant-modal-content {
        outline: none !important;
    }

    .ant-modal-header {
        background: #983EFD;
    }

    .ant-modal-title {
        color: #ffffff;
    }
}

@media (max-width: 700px) {
    .app-header {
        .header {
            .logo-text {
                font-size: 24px;
            }

            .cart {
                display: none;
            }
        }

        .menu {
            .cart {
                display : inline-block;
                position: absolute;
                right   : 14px;
                top     : 0.7em;
                width   : 37px;

                svg {
                    color: white;
                }
            }

            ul {
                right: 5rem !important;
            }

            ul li {
                font-size: 16px;
                padding  : 0px;
                margin   : 0px 10px !important;
            }

        }
    }
}